In [1]:
import numpy as np
import pandas as pd


df = pd.read_csv('C:\\Users\\Mukesh\\Downloads\\COSS\\train.csv', sep=',') 

df.head()

,age,job,marital status,education,credit default?,housing loan?,Personal loan,y
0,30,unemployed,married,primary,no,no,no,no
1,33,services,married,secondary,no,yes,yes,no
2,35,management,single,tertiary,no,yes,no,no
3,30,management,married,tertiary,no,yes,yes,no
4,59,blue-collar,married,secondary,no,yes,no,no

In [2]:
obj_df = df.copy()
obj_df.head()

,age,job,marital status,education,credit default?,housing loan?,Personal loan,y
0,30,unemployed,married,primary,no,no,no,no
1,33,services,married,secondary,no,yes,yes,no
2,35,management,single,tertiary,no,yes,no,no
3,30,management,married,tertiary,no,yes,yes,no
4,59,blue-collar,married,secondary,no,yes,no,no

In [3]:
obj_df[obj_df.isnull().any(axis=1)]



#Replace the NAN's with Mode, Since it was given "For Categorical Value replace it with Mode"
obj_df['job'].fillna(obj_df['job'].mode()[0], inplace=True)

obj_df['marital status '].fillna(obj_df['marital status '].mode()[0], inplace=True)
obj_df['education'].fillna(obj_df['education'].mode()[0], inplace=True)
obj_df['credit default?'].fillna(obj_df['credit default?'].mode()[0], inplace=True)
obj_df['housing loan?'].fillna(obj_df['housing loan?'].mode()[0], inplace=True)
obj_df['Personal loan'].fillna(obj_df['Personal loan'].mode()[0], inplace=True)


obj_df["job"] = obj_df["job"].astype('category')
obj_df.dtypes

obj_df["job_cat"] = obj_df["job"].cat.codes
obj_df.head()

obj_df["marital status "] = obj_df["marital status "].astype('category')
obj_df.dtypes

obj_df["marital status_cat"] = obj_df["marital status "].cat.codes
obj_df.head()


obj_df["education"] = obj_df["education"].astype('category')
obj_df.dtypes

obj_df["education_cat"] = obj_df["education"].cat.codes
obj_df.head()


obj_df["credit default?"] = obj_df["credit default?"].astype('category')
obj_df.dtypes

obj_df["credit default_cat"] = obj_df["credit default?"].cat.codes
obj_df.head()


obj_df["housing loan?"] = obj_df["housing loan?"].astype('category')
obj_df.dtypes

obj_df["housing loan_cat"] = obj_df["housing loan?"].cat.codes
obj_df.head()

obj_df["Personal loan"] = obj_df["Personal loan"].astype('category')
obj_df.dtypes

obj_df["Personal loan_cat"] = obj_df["Personal loan"].cat.codes
obj_df.head()


obj_df["y"] = obj_df["y"].astype('category')
obj_df.dtypes

obj_df["y_cat"] = obj_df["y"].cat.codes
obj_df.head()

,age,job,marital status,education,credit default?,housing loan?,Personal loan,y,job_cat,marital status_cat,education_cat,credit default_cat,housing loan_cat,Personal loan_cat,y_cat
0,30,unemployed,married,primary,no,no,no,no,10,1,0,0,0,0,0
1,33,services,married,secondary,no,yes,yes,no,7,1,1,0,2,1,0
2,35,management,single,tertiary,no,yes,no,no,4,2,2,0,2,0,0
3,30,management,married,tertiary,no,yes,yes,no,4,1,2,0,2,1,0
4,59,blue-collar,married,secondary,no,yes,no,no,1,1,1,0,2,0,0

In [4]:
df['y'].value_counts()

no     897
yes    124
Name: y, dtype: int64

In [5]:
#Steps to balance the class variables
# Separate majority and minority classes
df_majority = obj_df[obj_df.y=='no']
df_minority = obj_df[obj_df.y=='yes']

In [6]:
from sklearn.utils import resample
# Upsample minority class
df_minority_upsampled = resample(df_minority, 
                                 replace=True,     # sample with replacement
                                 n_samples=897,    # to match majority class
                                 random_state=123) # reproducible results

In [7]:
# Combine majority class with upsampled minority class
df_upsampled = pd.concat([df_majority, df_minority_upsampled])
df_upsampled.y_cat.value_counts()

1    897
0    897
Name: y_cat, dtype: int64

In [8]:
df_upsampled.head()

,age,job,marital status,education,credit default?,housing loan?,Personal loan,y,job_cat,marital status_cat,education_cat,credit default_cat,housing loan_cat,Personal loan_cat,y_cat
0,30,unemployed,married,primary,no,no,no,no,10,1,0,0,0,0,0
1,33,services,married,secondary,no,yes,yes,no,7,1,1,0,2,1,0
2,35,management,single,tertiary,no,yes,no,no,4,2,2,0,2,0,0
3,30,management,married,tertiary,no,yes,yes,no,4,1,2,0,2,1,0
4,59,blue-collar,married,secondary,no,yes,no,no,1,1,1,0,2,0,0

In [9]:
Y = df_upsampled.iloc[:,14]  
X = df_upsampled.iloc[:,[0,8,9,10,11,12,13]]

print(X.head())

   age  job_cat  marital status_cat  education_cat  credit default_cat  \
0   30       10                   1              0                   0
1   33        7                   1              1                   0
2   35        4                   2              2                   0
3   30        4                   1              2                   0
4   59        1                   1              1                   0

   housing loan_cat  Personal loan_cat
0                 0                  0
1                 2                  1
2                 2                  0
3                 2                  1
4                 2                  0

In [10]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation


X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

# Create Decision Tree classifer object
clf = DecisionTreeClassifier(criterion="entropy")

# Train Decision Tree Classifer
clf = clf.fit(X_train,Y_train)

#Predict the response for test dataset
Y_pred = clf.predict(X_test)

print("Accuracy:",metrics.accuracy_score(Y_test, Y_pred))

Accuracy: 0.9239332096474954

In [11]:
from sklearn.ensemble import RandomForestClassifier

# Create the model with 100 trees
model = RandomForestClassifier(n_estimators=10,
                               bootstrap = True,
                               max_features = 'sqrt')
# Fit on training data
model.fit(X_train,Y_train)

#Predict the response for test dataset
Y_pred = model.predict(X_test)

print("Accuracy:",metrics.accuracy_score(Y_test, Y_pred))

Accuracy: 0.9239332096474954

In [12]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

# Train the model using the training sets
model.fit(X_train,Y_train)

#Predict Output
predicted= model.predict(X_test) # 0: <=50K , 1: >50K

print("Accuracy:",metrics.accuracy_score(Y_test, predicted))

Accuracy: 0.5936920222634509

In [13]:
from sklearn.naive_bayes import BernoulliNB
model = BernoulliNB()

# Train the model using the training sets
model.fit(X_train,Y_train)

#Predict Output
predicted= model.predict(X_test) # 0: <=50K , 1: >50K

print("Accuracy:",metrics.accuracy_score(Y_test, predicted))

Accuracy: 0.5677179962894249

In [14]:
from sklearn import svm

svm = svm.SVC()

# Train the model using the training sets
svm.fit(X_train,Y_train)

#Predict Output
predicted= svm.predict(X_test) # 0: <=50K , 1: >50K

print("Accuracy:",metrics.accuracy_score(Y_test, predicted))

Accuracy: 0.7922077922077922

C:\Users\Mukesh\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [24]:
from sklearn.neural_network import MLPClassifier

MLP = MLPClassifier(alpha=0.1, hidden_layer_sizes=(10,))

# Train the model using the training sets
MLP.fit(X_train,Y_train)

#Predict Output
predicted= MLP.predict(X_test) # 0: <=50K , 1: >50K

print("Accuracy:",metrics.accuracy_score(Y_test, predicted))

Accuracy: 0.5992578849721707

C:\Users\Mukesh\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:562: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [30]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import cross_val_score

#ada = AdaBoostClassifier(n_estimators=100)

ada = GradientBoostingClassifier(n_estimators=1000, learning_rate=0.01, random_state=3).fit(X_train, Y_train)

#Predict Output
predicted= ada.predict(X_test) # 0: <=50K , 1: >50K

print("Accuracy:",metrics.accuracy_score(Y_test, predicted))

Accuracy: 0.7847866419294991

In [31]:
import pickle
print(X_test.head())

lst = [[33, 9, 1, 2, 0, 3, 2]]


df_lst = pd.DataFrame(lst) 
print(df_lst)

result = clf.predict(df_lst)
print(result[0].astype(str))

perc= clf.predict_proba(df_lst)
perc_lst =perc.tolist()
print(perc_lst)
#print (perc_lst[0][0])
#print (perc_lst[0][1])

     age  job_cat  marital status_cat  education_cat  credit default_cat  \
947   49        1                   2              0                   0
339   51        6                   0              0                   0
758   47        1                   0              0                   0
215   42        4                   1              2                   0
550   54        1                   1              0                   0

     housing loan_cat  Personal loan_cat
947                 2                  0
339                 0                  0
758                 2                  0
215                 2                  0
550                 0                  0
    0  1  2  3  4  5  6
0  33  9  1  2  0  3  2
0
[[1.0, 0.0]]

In [32]:
pickle.dump(clf, open('model.pkl', 'wb'))